FFMS2/*.exe
FFMS2/*.dll
FFMS2/*.lib
FFMS2/*.avsi
ffmpeg/*.exe
mencoder/*.exe
mencoder/*.dll
svpflow/*.dll
scripts/work.avs
60fps.mp4
60fps_audio.wav
60fps_video.mp4
60fps_video_and_audio.mp4
*.avi
*.mov
*.mkv
*.divx
*.xvid
*.ffindex
*.zip
*.7z